.product-page-wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
  gap: 40px;
}

.product-page-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
