:root {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.promotion-container {
  max-height: 400px;
}
.promotion-container img {
  max-height: 720px;
  width: 100%;
}

.page-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content.searching {
  filter: blur(4px);
  transition: all 1000ms ease;
}

.page-backdrop-active {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: all 1500ms ease;
}

.page-backdrop-searching {
  position: fixed;
  inset: 0;
  background-color: none;
  z-index: 100;
  transition: all 1500ms ease;
}
