@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

:root {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  width: 100%;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  font-size: 18px;
}

a {
  text-decoration: none;
}
